# **Курс "Програмування на мові Python"**

##### Викладачі:
##### Борисенко Павло Борисович
##### Щьоголєв Максим Олегович

## **Практичне зайняття №4**
### Тема: "Цикли. Робота зі списками"

### **Завдання 1 (1,5 бали)**

Керівництво будівельної компанії вирішило підняти заробітні плати всім своїм працівникам на 30%. В залежності від спеціалізації та стажу працівники мають різну заробітну плату. Для підготовки звіту необхідно розрахувати нову заробітну плату для працівників компанії, а також суму індексації.

Написати програму, яка буде генерувати таблицю для цього звіту. Початкова заробітна плата працівників подана у списку salary_list (у тисячах гривень).

1. Для підрахунку невідомих значень та їх виведення повинен використовуватись цикл.

2. Зарплата після індексації та сума індексації для працівників різних категорій повинні зберігатись у двох окремих списках. Порядок значень у кожному з нових списків повинен відповідати порядку значень у списку salary_list.

3. Кожне підраховане числове значення має бути округлене до сотих. Для цього слід використати функцію round(). Приклад застосування цієї функції:

```
value_new = round(2.3741, 2)
print(value_new)
```

4. Дані повинні виводитись у вигляді:

**Salary table:**

**7.3 9.49 2.19**

**8.5 11.05 2.55**

**...**

salary_list = [[7.3, 8.5, 11, 12.7, 15.2, 21.12, 27.35]]

In [11]:

#Intilization list of emploee salary
salary_list = [7.3, 8.5, 11, 12.7, 15.2, 21.12, 27.35]
new_salary_list = []
sum_indexation = []
#processing value salary
for salary in salary_list:
    temp = round(salary * 1.3, 2)       # processing new_salary 
    new_salary_list.append(temp)        # add in list new_salary
    temp = round(temp / 100, 2)         # processing sum_indexation
    sum_indexation_list.append(temp)    # add in list sum_indexation
#output table
print("Salary table:", "\n")
for line in salary_list, new_salary_list, sum_indexation_list:
    for column in line:
        print(column, end="\t")
    else:
        print("\n")

Salary table:

7.3	8.5	11	12.7	15.2	21.12	27.35

9.49	11.05	14.3	16.51	19.76	27.46	35.55

0.09	0.11	0.14	0.17	0.2	0.27	0.36

### **Завдання 2 (1,5 бали)**

Перелічуючи деякі предмети у тексті, ми ставимо між ними коми. В англійській мові слово and зазвичай ставлять між останнім та передостаннім словом у переліку (за виключенням випадку, коли у списку всього одне слово). Розглянемо 4 приклади:

**apples**

**apples and oranges**

**apples, oranges and bananas**

**apples, oranges, bananas and lemons**

Напишіть програму, яка:

1. отримує на вхід перелік деяких предметів, які користувач вводить з клавіатури, та записує їх у список у вигляді окремих елементів;

2. виводить ці предмети у тій самій послідовності, в якій вони були введені, розставляючи коми та слово and так, як показано у прикладі.

In [13]:
list_x = []
s = "Enter list one element each, if it is the end of list , enter dot. \n"
#input each element in list_x
while True:
    x = input(s + "Enter element :")
    x = x.strip()
    if x == '.':
        break
    elif x != "":
        list_x.append(x)
    s = ""
size_list = len(list_x)
#output list_x
if size_list > 2:
    for i in range(size_list - 2):
        print(list_x[i] + ",", end=" ")
if size_list >= 2:
    print(list_x[-2], "and", list_x[-1])
elif size_list == 1:
    print(list_x[0])
else:
    print("empty list")

12, 13, 14 and 15